.music-player__main {
    padding: 5px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
	display: flex;
}
.music-player__controls {
	margin: 0 auto;
	position: relative;
    overflow: hidden;
}
.music__info {
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}
.music__info .music__info--title,
.music__info .music__info--singer {
    color: #fff;
}
.music__info .music__info--title {
    font-size: 18px;
}
.music__info .music__info--singer {
    color: #ccc;
    font-size: 15px;
    margin-top: 10px;
}
.player-control {
    width: 100%;
}
.player-control__content {
    margin-bottom: 5px;
    overflow: hidden;
	position: relative;
	margin: 0 auto;
	padding: 4px;
}
.player-control__btns {
    float: left;
    overflow: hidden;
}
.player-control__btn {
    float: left;
    margin: 0 15px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
}
.player-control__volume {
    overflow: hidden;
}
.control__volume--progress {
    width: 80px;
    position: relative;
    top: 12px;
}
.player__song--timeProgess{
    font-size: 12px;
    color: #fff;
    margin-top: 5px;
    padding: 0px 3px;
    border-radius: 5px;
}
.nowTime{
    float: left;
}
.totalTime{
    float: right;
}
.progress {
    background: rgba(0, 0, 0, 0.3);
    height: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.5) inset;
    overflow: hidden;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}
.progress .back {
    width: 0px;
    height: 100%;
    border-radius: 2px;
    background: rgb(225, 85, 0);
}
.progress .pointer {
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    position: absolute;
    top: -1px;
    left: 0;
}
.progress:hover .pointer {
    opacity: 1;
}
@-webkit-keyframes disc {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes disc {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.player__song--progress {
    width: 190px;
    margin-top: 15px;
	margin: 1%;
}
.music-player__list {
    width: 350px;
    margin-top: 15px !important;
	height: 260px;
	overflow-y: auto;
	margin: 0 auto;
	border-top: 0.5px solid rgba(255, 255, 255, 0.2);
	border-left: 0.5px solid rgba(255, 255, 255, 0.2);
	border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
.music-player__list::-webkit-scrollbar {
    width: 5px;
}
.music-player__list::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, 0.2);
}
.music-player__list::-webkit-scrollbar-thumb {
    background: #ff5500;
}
.music__list__item {
    padding-left: 25px;
    color: #ccc;
    position: relative;
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}
.music__list__item:last-of-type {
    margin: 0;
}
.music__list__item.play {
    color: #fff;
	background-color: rgba(255, 255, 255, 0.1);
}
.music__list__item.play:before {
    font-family: 'iconfont';
    content: "\e87a";
    position: absolute;
    left: 0px;
    top: 1px;
}
ul.sticky li {
    background-color: rgba(255, 255, 255, 0.03);
}